.container {
    border: solid black 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.converter-container {
    border: solid red 2px;
    padding: 20px;
    background-color: rgb(125, 181, 240);
}

h1 {

}