body {
    font-family: "Poppins", sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.converter-container {
    padding: 20px;
    background-color: rgb(148, 194, 243);
}

h1 {
    font-size: 40px;
    color: white;
}

#userInput, #unit-select, button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
}

#userInput {
    margin-right: 5px;
    width: 30%;
}

#unit-select {
    margin-right: 5px;
    cursor: pointer;
}

button {
    cursor: pointer;
}

button:active {
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.5);
}

p {
    font-size: 20px;
    color: white;
    font-weight: bold;
}
